<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Personel Yönetim Sistemi</title>
</head>

<body>
	<div class="container">
		<h1 class="mt-4">Personel Bilgilerini Güncelle</h1>
		<hr>
		<form class="mt-4" action="#" th:action="@{/personel-kaydet}" th:object="${employee}" method="POST">
			<input type="hidden" th:field="*{id}" />
			<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4">
			<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4">
			<input type="text" th:field="*{email}" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-outline-primary">Personel Bilgilerini Güncelle</button>
		</form>
		<hr>
		<a th:href = "@{/}">Personel Listesine Geri Dön</a>
	</div>
</body>

</html>